<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Unla</title>
	<!-- Favicon-->
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
</head>

<body>
	<div th:fragment="wrapper(content)" class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<div class="border-end bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading border-bottom bg-light pb-2 pt-3">
				<a class="navbar-brand m-5" th:href="@{/home}">
					<img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Universidad_Nacional_de_Lan%C3%BAs_logo.png"
						width="85" height="80" alt="" />

				</a>
			</div>
			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action list-group-item-light p-3"
					th:href="@{/edificios}">Edificios</a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/pedidos}">Pedidos</a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Events</a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Profile</a>
				<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>
			</div>
		</div>
		<!-- Page content wrapper-->
		<div id="page-content-wrapper">
			<!-- Top navigation-->
			<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom pb-2">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation"><span
							class="navbar-toggler-icon"></span></button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
							<a class="nav-item btn btn-danger" href="#!">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div th:replace="${content}">

			</div>
		</div>
	</div>

	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
</body>

</html>