<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="../fragments/generalView.html :: head"></head>

<body>


	<div class="container">
		<div class="row justify-content-center align-content-center" style="height: 90vh; ">
			<div class="col-md-6 p-5  border rounded" style="background-color: #cccccc5e;">

				<h1>Registro</h1>
				<form th:action="@{/user/create}" method="post" th:object="${user}">
					<div class="form-group p-2">
						<label class="control-label" for="nombre">Nombre : </label> <input
							id="nombre" type="text" class="form-control" th:field="*{nombre}"
							required autofocus="autofocus">
					</div>

					<div class="form-group p-2">
						<label class="control-label" for="apellido">Apellido : </label> <input
							id="apellido" type ="text"class="form-control" th:field="*{apellido}"
							required autofocus="autofocus">
					</div>

					<div class="form-group p-2">
						<label class="control-label" for="email">Email : </label> <input
							id="email" type="email" class="form-control" th:field="*{email}"
							required autofocus="autofocus">
					</div>

					<div class="form-group p-2">
						<label class="control-label" for="password">Password : </label> <input
							type="password" id="password" class="form-control" th:field="*{password}"
							required autofocus="autofocus">
					</div>
					
					<div class="form-group p-2 ">
						<label class="control-label" for="email">User Name : </label> <input
							id="email" type="text" class="form-control" th:field="*{userName}"
							required autofocus="autofocus">
					</div>
					
					<div class="form-group p-2" >
						<label class="control-label" for="email">Dni: </label> <input
							id="dni" type="text" class="form-control" th:field="*{dni}"
							required autofocus="autofocus">
					</div>

					<div class="form-group p-2">
						<button type="submit" class="btn btn-success">Registrar</button>
						
					</div>
				</form>
				<div> <span>Si estas registrado <a th:href="@{/loginsucces}">  inicia sesión aqui</a></span></div>
			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>


