<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:insert="../fragments/generalView.html :: head"></head>

<body>
<div th:replace="../fragments/generalView.html :: wrapper(~{:: .myContent})">
	<div class="myContent container text-center pt-3">
		<h1>ESPACIOS</h1>
		<a class="btn btn-success" th:href="@{/espacios/nuevo}">Crear espacio</a>
		<div class="d-flex justify-content-around pt-4 flex-wrap">
			<div th:each="esp:${espacios}" class="card mb-3 border-dark m-1" style="width: 20rem;">
				<div class="card-header">
					<h5 class="card-title ">Espacio ID: <span th:text="${esp.id}"></span>
					</h5>
				</div>
				<ul class="list-group list-group-flush">

					<li class="list-group-item ">fecha: <span th:text="${esp.fecha}"></span></li>
					<li class="list-group-item ">numero Aula: <span th:text="${esp.aula.numero}"></span></li>
					<li class="list-group-item ">Edificio: <span th:text="${esp.aula.edificio.edificio}"></span></li>
				</ul>
			</div>
		</div>


	</div>
</div>



<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>


</html>