<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="../fragments/generalView.html :: head"></head>

<body>

	<div th:replace="../fragments/generalView.html :: wrapper(~{:: .myContent})">
		<div class="myContent container text-center pt-3">

			<div class="row justify-content-md-center align-items-center">
				<div class="col-md-6 col-md-offset-3">

					<h1>Editar Pedido id: <span th:text="${pedido.id}"></span></h1>
					<form th:action="@{/pedidos/editar/save/{id}(id=${pedido.id})}" th:object="${pedido}" method="post">

						<div class="form-group">
							<label class="control-label" for="codCurso">Codigo de
								comision : </label> <input id="codCurso" type="text" class="form-control"
								th:field="*{codCurso}" required autofocus="autofocus">
						</div>

						<div class="mb-3">
							<label for="turno" class="form-label">Turno</label> <select class="form-select"
								aria-label="Default select example" id="turno" th:field="*{turno}">
								<option value="M">M</option>
								<option value="T">T</option>
								<option value="N">N</option>
							</select>

						</div>


						<div class="mb-3">
							<label for="examenFinal" class="form-label">Final</label> <select class="form-select"
								aria-label="Default select example" id="examenFinal" th:field="*{examenFinal}">
								<option value="1">Sí</option>
								<option value="0">No</option>
							</select>

						</div>


						<div class="mb-3">
							<label for="profesores" class="form-label">Profesores</label>
							<textarea class="form-control" id="profesores" th:field="*{profesores}" rows="3"></textarea>
						</div>

						<div class="form-group">
							<label class="control-label" for="cantEstudiantes">Cantidad
								de estudiantes: </label> <input id="cantEstudiantes" type="number" class="form-control"
								th:field="*{cantEstudiantes}" required autofocus="autofocus">
						</div>

						<div class="mb-3">
							<label for="observaciones" class="form-label">Observaciones</label>
							<textarea class="form-control" id="observaciones" th:field="*{observaciones}"
								rows="3"></textarea>
						</div>

						<div class="form-group">
							<div>
								<label class="col-form-label col-sm-4">Materia: </label>

								<select class="form-control" id="materia" th:field="*{materia}">
									<th:block th:each="materia : ${listMaterias}">
										<option th:text="${materia.nombre}" th:value="${materia.id}" />
									</th:block>
								</select>
							</div>
						</div>

						<div class="form-group pt-2">
							<button type="submit" class="btn btn-success">Guardar</button>

						</div>
					</form>
				</div>
			</div>

		</div>
	</div>




	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>