<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:insert="../fragments/generalView.html :: head"></head>

<body>
	<div th:replace="../fragments/generalView.html :: wrapper(~{:: .myContent})">
		<div class="myContent container text-center pt-3">
			<h1>PEDIDOS</h1>
			<a class="btn btn-success" th:href="@{/pedidos/nuevo}">Crear Pedido</a>
			<div class="d-flex justify-content-around pt-4 flex-wrap">
					<div class="card-header">
						<h5 class="card-title ">Pedido ID: <span th:text="${pedido.id}"></span>
							</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Creacion:
							<span th:text="${(pedido.fechaCreacion).getDayOfMonth()}"></span>
							/<span th:text="${(pedido.fechaCreacion).getMonth()}"></span>
							/<span th:text="${(pedido.fechaCreacion).getYear()}"></span>
						</li>
						<li class="list-group-item ">Cod.Curso: <span th:text="${pedido.codCurso}"></span></li>
						<li class="list-group-item">Profesores: <span th:text="${pedido.profesores}"></span></li>
						<li class="list-group-item">Materia: <span th:text="${(pedido.materia).getNombre()}"></span>			</li>
						<li class="list-group-item">Final: <span th:text="${pedido.examenFinal}"></span></li>
						<li class="list-group-item">Turno: <span th:text="${pedido.turno}"></span></li>
						<li class="list-group-item">Estudiantes: <span th:text="${pedido.cantEstudiantes}"></span></li>
						<li class="list-group-item">Observaciones: <span th:text="${pedido.observaciones}"></span></li>

					</ul>

				<div class="col-md-6 col-md-offset-3">




				</div>
				<div class="card-body">
					<a th:href="@{/pedidos/}+${pedido.id}+@{/aulasvalidas}" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">Buscar Aulas Validas</a>
				</div>

				<!-- falta agregar validaciones-->
				<!--"@{/pedidos/aulaasignada}"-->
				<form action="#" th:action="@{/pedidos/}+${pedido.id}+@{/aulasvalidadas}" th:object="${parametros}" method="GET">
					<div class="rendered-form">
						<div class="formbuilder-radio-group form-group field-tipoAula">
							<label  class="formbuilder-radio-group-label">Tipo Aula
								<br><span class="formbuilder-required">*</span></label>
							<div class="radio-group">
								<div class="formbuilder-radio">
									<input name="tipoAula" access="false" id="tipoAula-0" required="required" aria-required="true" value="0" type="radio" checked="checked">
									<label for="tipoAula-0">Tradicional</label>
								</div>
								<div class="formbuilder-radio">
									<input name="tipoAula" access="false" id="tipoAula-1" required="required" aria-required="true" value="1" type="radio">
									<label for="tipoAula-1">Laboratorio</label>
								</div>
							</div>
						</div>
					</div>

					<div class="rendered-form">
						<div class="formbuilder-select form-group field-diaSemana">
							<label for="diaSemana" class="formbuilder-select-label">Dia</label>
							<select class="form-control" name="diaSemana" id="diaSemana">
								<option value="1" selected="true" id="diaSemana-0">Lunes</option>
								<option value="2" selected="true" id="diaSemana-1">Martes</option>
								<option value="3" selected="true" id="diaSemana-2">Miercoles</option>
								<option value="4" selected="true" id="diaSemana-3">Jueves</option>
								<option value="5" selected="true" id="diaSemana-4">Viernes</option>
								<option value="6" selected="true" id="diaSemana-5">Sabado</option>
							</select>
						</div>

						<div class="formbuilder-select form-group field-turnoMateria">
							<label for="turnoMateria" class="formbuilder-select-label">Turno</label>
							<select class="form-control" name="turnoMateria" id="turnoMateria">
								<option value="M" selected="true" id="turnoMateria-0">Mañana</option>
								<option value="T" id="turnoMateria-1">Tarde</option>
								<option value="N" id="turnoMateria-2">Noche</option>
							</select>
						</div>
						<div class="formbuilder-select form-group field-tipopresencial">
							<label for="tipopresencial" class="formbuilder-select-label">TIpo Presencialidad
								<br>
							</label>
							<select class="form-control" name="tipopresencial" id="tipopresencial">
								<option value="0" selected="true" id="tipopresencial-0">100%</option>
								<option value="1" id="tipopresencial-1">50%</option>
								<option value="2" id="tipopresencial-2">Final</option>
							</select>
						</div>
						<div class="formbuilder-date form-group field-fechaFinal">
							<label for="fechaFinal" class="formbuilder-date-label">Fecha Final
								<br>
							</label>
							<input type="date" class="form-control" name="fechaFinal" access="false" value="2022-05-04" id="fechaFinal">
						</div>
						<div class="rendered-form">
							<div class="formbuilder-number form-group field-numAsientos">
								<label for="numAsientos" class="formbuilder-number-label">Cantidad estudiantes
									<br><span class="formbuilder-required">*</span></label>
								<input type="number" class="form-control" name="numAsientos" access="false" value="0" min="5" max="200" step="1" id="numAsientos">
							</div>
						</div>
					</div>
					<input type="submit"/>
				</form>
			</div>


		</div>
	</div>



	<!-- Latest compiled and minified JavaScript -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>


</html>