<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:insert="../fragments/generalView.html :: head"></head>

<body>
	<div th:replace="../fragments/generalView.html :: wrapper(~{:: .myContent})">
		<div class="myContent container text-center pt-3">
			<h1>Asignar espacios</h1>
			<div class="d-flex justify-content-around pt-4 flex-wrap">
					<div class="card-header">
						<h5 class="card-title ">Pedido ID: <span th:text="${pedido.id}"></span>
							</h5>
					</div>
					<ul class="list-group list-group-flush">

						<li class="list-group-item ">Cod.Curso: <span th:text="${pedido.codCurso}"></span></li>
						<li class="list-group-item">Profesores: <span th:text="${pedido.profesores}"></span></li>
						<li class="list-group-item">Materia: <span th:text="${(pedido.materia).getNombre()}"></span>			</li>
						<li class="list-group-item">Final: <span th:text="${pedido.examenFinal}"></span></li>
						<li class="list-group-item">Turno: <span th:text="${pedido.turno}"></span></li>
						<li class="list-group-item">Estudiantes: <span th:text="${pedido.cantEstudiantes}"></span></li>
						<li class="list-group-item">Observaciones: <span th:text="${pedido.observaciones}"></span></li>

					</ul>

				<div class="col-md-6 col-md-offset-3">


					<div th:each="lab:${labsmodel}" class="card mb-3 border-dark m-1" style="width: 20rem;">
						<div class="card-header">
							<h5 class="card-title ">Laboratorio Id: <span th:text="${lab.id}"></span>
							</h5>
						</div>
						<ul class="list-group list-group-flush">

							<li class="list-group-item ">Id aula: <span th:text="${lab.id}"></span></li>
							<li class="list-group-item ">Edificio: <span th:text="${lab.edificio.edificio}"></span></li>
							<li class="list-group-item ">sillas: <span th:text="${lab.cantSillas}"></span></li>
							<li class="list-group-item ">pcs: <span th:text="${lab.cantPc}"></span></li>

							<form th:action='${sendTest}' th:object="${parametros}" method='post'>
								<fieldset>
									<select id="labsmodel" name="labsmodel" class="form-control" th:field="${labsmodel}">
										<option value="">Listar Espacios</option>
										<option

												th:each="espacio : ${lab.espacios}"
												th:value="${lab}"
												th:text="${espacio.fecha}"

										></option>
									</select>
								</fieldset>
							</form>

						</ul>
					</div>
					</form>
					<form th:action="@{/pedidos/}+${pedido.id}+@{/aulaasignada}" th:object="${parametros}" method="post">
						<div class="rendered-form">
							<div class="formbuilder-select form-group field-diaSemana">
								<label for="aulaId" class="formbuilder-select-label">Seleccionar Aula</label>
								<select class="form-control" name="aulaId" id="aulaId">
									<th:block th:each="lab : ${labs}">
										<option th:text="${lab.id}" th:value="${lab.id}" />
									</th:block>
								</select>
								<input type="hidden" name="diaSemana" id="diaSemana"th:value="${parametros.diaSemana}"> </input>
								<input type="hidden" name="tipopresencial" id="tipopresencial"th:value="${parametros.tipopresencial}"> </input>
								<input type="hidden" name="turnoMateria" id="turnoMateria"th:value="${parametros.turnoMateria}"> </input>
								<input type="hidden" name="tipoAula" id="tipoAula"th:value="${parametros.tipoAula}"> </input>
								<input type="hidden" name="numAsientos" id="numAsientos"th:value="${parametros.numAsientos}"> </input>
								<input type="hidden" name="fechaFinal" id="fechaFinal"th:value="${parametros.fechaFinal}"> </input>

							</div>
						</div>
						<button type="submit" class="btn btn-success">Asignar aula</button>
					</form>
				</div>
			</div>




				</div>
			</div>


		</div>
	</div>



	<!-- Latest compiled and minified JavaScript -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>


</html>