<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:insert="../fragments/generalView.html :: head"></head>

<body>
	<div th:replace="../fragments/generalView.html :: wrapper(~{:: .myContent})">
		<div class="myContent container text-center pt-3">
			<h1>Asignar espacios</h1>
			<div class="d-flex justify-content-around pt-4 flex-wrap">
					<div class="card-header">
						<h5 class="card-title ">Pedido ID: <span th:text="${pedido.id}"></span>
							</h5>
					</div>
					<ul class="list-group list-group-flush">

						<li class="list-group-item ">Cod.Curso: <span th:text="${pedido.codCurso}"></span></li>
						<li class="list-group-item">Profesores: <span th:text="${pedido.profesores}"></span></li>
						<li class="list-group-item">Materia: <span th:text="${(pedido.materia).getNombre()}"></span>			</li>
						<li class="list-group-item">Final: <span th:text="${pedido.examenFinal}"></span></li>
						<li class="list-group-item">Turno: <span th:text="${pedido.turno}"></span></li>
						<li class="list-group-item">Estudiantes: <span th:text="${pedido.cantEstudiantes}"></span></li>
						<li class="list-group-item">Observaciones: <span th:text="${pedido.observaciones}"></span></li>

					</ul>
					<div class="card-body">
						<p class="card-text" th:text="${pedido.observaciones}"></p>
						<a href="#" class="btn btn-primary">Modificar</a>
						<a href="#" class="btn btn-primary">Aceptar</a>
						<a href="#" class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">Gestionar</a>
					</div>
				<div class="col-md-6 col-md-offset-3">


					<div th:each="trad:${trads}" class="card mb-3 border-dark m-1" style="width: 20rem;">
						<div class="card-header">
							<h5 class="card-title ">Tradicional Id: <span th:text="${trad.id}"></span>
							</h5>
						</div>
						<ul class="list-group list-group-flush">

							<li class="list-group-item ">ID aula: <span th:text="${trad.id}"></span></li>
							<li class="list-group-item ">Edificio: <span th:text="${trad.edificio.edificio}"></span></li>
							<li class="list-group-item ">numero Aula: <span th:text="${trad.numero}"></span></li>
							<li class="list-group-item ">pizarron Aula: <span th:text="${trad.pizarron}"></span></li>

							<form th:action='${sendTest}' th:object="${parametros}" method='post'>
								<fieldset>
									<select id="trads" name="trads" class="form-control" th:field="${trads}">
										<option value="">Listar Espacios</option>
										<option

												th:each="espacio : ${trad.espacios}"
												th:value="${trad}"
												th:text="${espacio.fecha}"

										></option>
									</select>
								</fieldset>
							</form>

						</ul>
					</div>

					<div th:each="lab:${labs}" class="card mb-3 border-dark m-1" style="width: 20rem;">
						<div class="card-header">
							<h5 class="card-title ">Laboratorio Id: <span th:text="${lab.id}"></span>
							</h5>
						</div>
						<ul class="list-group list-group-flush">

							<li class="list-group-item ">Id aula: <span th:text="${lab.id}"></span></li>
							<li class="list-group-item ">Edificio: <span th:text="${lab.edificio.edificio}"></span></li>
							<li class="list-group-item ">numero Aula: <span th:text="${lab.numero}"></span></li>
							<li class="list-group-item ">sillas: <span th:text="${lab.cantSillas}"></span></li>
							<li class="list-group-item ">pcs: <span th:text="${lab.cantPc}"></span></li>

						</ul>
					</div>

					<!-- falta agregar validaciones-->
					<form action="#" th:action="@{/pedidos/aulaasignada}" th:object="${parametros}" method="post">
					<div class="rendered-form">
						<div class="formbuilder-select form-group field-diaSemana">
							<label for="diaSemana" class="formbuilder-select-label">Dia</label>
							<select class="form-control" name="diaSemana" id="diaSemana">
								<option value="1" selected="true" id="diaSemana-0">Lunes</option>
								<option value="2" selected="true" id="diaSemana-1">Martes</option>
								<option value="3" selected="true" id="diaSemana-2">Miercoles</option>
								<option value="4" selected="true" id="diaSemana-3">Jueves</option>
								<option value="5" selected="true" id="diaSemana-4">Viernes</option>
								<option value="6" selected="true" id="diaSemana-5">Sabado</option>
							</select>
						</div>

						<div class="formbuilder-select form-group field-turnoMateria">
							<label for="turnoMateria" class="formbuilder-select-label">Turno</label>
							<select class="form-control" name="turnoMateria" id="turnoMateria">
								<option value="M" selected="true" id="turnoMateria-0">Mañana</option>
								<option value="T" id="turnoMateria-1">Tarde</option>
								<option value="N" id="turnoMateria-2">Noche</option>
							</select>
						</div>
						<div class="formbuilder-select form-group field-tipopresencial">
							<label for="tipopresencial" class="formbuilder-select-label">TIpo Presencialidad
								<br>
							</label>
							<select class="form-control" name="tipopresencial" id="tipopresencial">
								<option value="0" selected="true" id="tipopresencial-0">100%</option>
								<option value="1" id="tipopresencial-1">50%</option>
								<option value="2" id="tipopresencial-2">Final</option>
							</select>
						</div>
						<div class="formbuilder-date form-group field-fechaFinal">
							<label for="fechaFinal" class="formbuilder-date-label">Fecha Final
								<br>
							</label>
							<input type="date" class="form-control" name="fechaFinal" access="false" value="2022-05-04" id="fechaFinal">
						</div>
					</div>
						<input type="submit"/>
					</form>


				</div>
			</div>


		</div>
	</div>



	<!-- Latest compiled and minified JavaScript -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>


</html>