<!DOCTYPE html>
<html lang="en">

<head th:insert="../fragments/generalView.html :: head"></head>

<body>
	<div class="container">
		<div class="row justify-content-center align-items-center" style="height: 80vh;">
			<div class="col-md-6 col-md-offset-3">
				<div class="alert alert-success" role="alert">
					<h4 class="alert-heading">Bien hecho!</h4>
					<p>Pedido REGISTRADO/EDITADO correctamente!</p>
					<hr>
					<p class="mb-0">Vuelve para chequear el pedido!
					<div class="form-group">
						<span>Volver a <a th:href="@{/pedidos}">pedidos</a></span>
					</div>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


</body>

</html>