<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="../fragments/generalView.html :: head"></head>

<body>
	<div th:replace="../fragments/generalView.html :: wrapper(~{:: .myContent})">
		<div class="myContent container text-center pt-3">
			<h1>PEDIDOS</h1>
			<a class="btn btn-success" th:href="@{/pedidos/nuevo}">Crear Pedido</a>
			<div class="d-flex justify-content-around pt-4 flex-wrap">
				<div th:each="pedido:${pedidos}" class="card mb-3 border-dark m-1" style="width: 20rem;">
					<div class="card-header">
						<h5 class="card-title ">Pedido ID: <span th:text="${pedido.id}"></span>
							<h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Creacion:
							<span th:text="${(pedido.fechaCreacion).getDayOfMonth()}"></span>
							/<span th:text="${(pedido.fechaCreacion).getMonth()}"></span>
							/<span th:text="${(pedido.fechaCreacion).getYear()}"></span>
						</li>
						<li class="list-group-item ">Cod.Curso: <span th:text="${pedido.codCurso}"></span></li>
						<li class="list-group-item">Profesores: <span th:text="${pedido.profesores}"></span></li>
						<li class="list-group-item">Materia: <span th:text="${(pedido.materia).getNombre()}"></span>
						</li>
						<li class="list-group-item">Turno: <span th:text="${pedido.turno}"></span></li>
					</ul>
					<div class="card-body">
						<p class="card-text" th:text="${pedido.observaciones}"></p>
						<a href="#" class="btn btn-primary">Modificar</a>
						<a href="#" class="btn btn-primary">Aceptar</a>
					</div>
				</div>
			</div>


		</div>
	</div>



	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</html>