<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="../fragments/generalView.html :: head"></head>

<body >


	<div class="container">
		<div class="row justify-content-center align-content-center" style="height: 90vh;">
			<div class="col-md-6 p-5 border rounded"style="background-color: #cccccc5e;" >
				<h1 class="text-center p-2">Inicio de sesión</h1>
				<form th:action="@{/loginprocess}" method="post">

					<div th:if=${param.error}>
						<div class="alert alert-danger">Usuario o contraseña
							inválidos</div>
					</div>

					<div th:if=${param.logout}>
						<div class="alert alert-info">Ha cerrado sesión exitosamente
						</div>
					</div>


					<div class="form-group p-3">
						<label class="pb-2" for="username">Nombre de
							usuario : </label> <input id="username" name="username" type="text" class="form-control"
							required autofocus="autofocus" placeholder="Digite nombre de usuario">
					</div>

					<div class="form-group p-3">
						<label class="pb-2" for="password">Password : </label> <input id="password" type="password" name="password"
							class="form-control" required autofocus="autofocus" placeholder="Digite su password">
					</div>

					<div class="form-group p-3">
						<div class="row">
							<div class="">
								<input type="submit" class="form-control btn btn-primary" name="login-submit"
									id="login-submit" value="Iniciar sesión" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group p-3">
					<span>Si eres nuevo usuario <a th:href="@{user/registro}">regístrate
							aqui</a></span>
				</div>

			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>

</html>