<!DOCTYPE html>
<html lang="en">
<head th:insert="../fragments/generalView.html :: head"></head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-info">Aula REGISTRADO</div>
        </div>
    </div>
</div>
<div class="form-group">
    <span>IR  <a th:href="@{/pedidos}">atras</a></span>
</div>

<!-- Latest compiled and minified JavaScript -->
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>


</body>
</html>